In [6]:
import os
import pandas as pd
import mysql.connector

from sqlalchemy import create_engine, inspect, text
from sqlalchemy.orm import sessionmaker

# MySQL connection settings
user = 'root'
password = os.environ.get('MYSQL_PASSWORD')
host = 'localhost'
database = 'mimic'

## Create a connection to the MySQL database
#engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')
#
## Example SQL query: SELECT all records from the 'admissions' table
#with engine.connect() as connection:
#    result = connection.execute(text("SELECT * FROM ADMISSIONS LIMIT 10"))
#    for row in result:
#        print(row)  # Print each row returned by the query
#
## Close the connection
#engine.dispose()

(0, 21, 22, 165315, '2196-04-09 12:26:00', '2196-04-10 15:54:00', None, 'EMERGENCY', 'EMERGENCY ROOM ADMIT', 'DISC-TRAN CANCER/CHLDRN H', 'Private', None, 'UNOBTAINABLE', 'MARRIED', 'WHITE', '2196-04-09 10:06:00', '2196-04-09 13:24:00', 'BENZODIAZEPINE OVERDOSE', 0, 1)
(1, 22, 23, 152223, '2153-09-03 07:15:00', '2153-09-08 19:10:00', None, 'ELECTIVE', 'PHYS REFERRAL/NORMAL DELI', 'HOME HEALTH CARE', 'Medicare', None, 'CATHOLIC', 'MARRIED', 'WHITE', None, None, 'CORONARY ARTERY DISEASE\\CORONARY ARTERY BYPASS GRAFT/SDA', 0, 1)
(2, 23, 23, 124321, '2157-10-18 19:34:00', '2157-10-25 14:00:00', None, 'EMERGENCY', 'TRANSFER FROM HOSP/EXTRAM', 'HOME HEALTH CARE', 'Medicare', 'ENGL', 'CATHOLIC', 'MARRIED', 'WHITE', None, None, 'BRAIN MASS', 0, 1)
(3, 24, 24, 161859, '2139-06-06 16:14:00', '2139-06-09 12:48:00', None, 'EMERGENCY', 'TRANSFER FROM HOSP/EXTRAM', 'HOME', 'Private', None, 'PROTESTANT QUAKER', 'SINGLE', 'WHITE', None, None, 'INTERIOR MYOCARDIAL INFARCTION', 0, 1)
(4, 25, 25, 129635, '2160-11-02 02:06:00', '2160-11-05 14:55:00', None, 'EMERGENCY', 'EMERGENCY ROOM ADMIT', 'HOME', 'Private', None, 'UNOBTAINABLE', 'MARRIED', 'WHITE', '2160-11-02 01:01:00', '2160-11-02 04:27:00', 'ACUTE CORONARY SYNDROME', 0, 1)
(5, 26, 26, 197661, '2126-05-06 15:16:00', '2126-05-13 15:00:00', None, 'EMERGENCY', 'TRANSFER FROM HOSP/EXTRAM', 'HOME', 'Medicare', None, 'CATHOLIC', 'SINGLE', 'UNKNOWN/NOT SPECIFIED', None, None, 'V-TACH', 0, 1)
(6, 27, 27, 134931, '2191-11-30 22:16:00', '2191-12-03 14:45:00', None, 'NEWBORN', 'PHYS REFERRAL/NORMAL DELI', 'HOME', 'Private', None, 'CATHOLIC', None, 'WHITE', None, None, 'NEWBORN', 0, 1)
(7, 28, 28, 162569, '2177-09-01 07:15:00', '2177-09-06 16:00:00', None, 'ELECTIVE', 'PHYS REFERRAL/NORMAL DELI', 'HOME HEALTH CARE', 'Medicare', None, 'CATHOLIC', 'MARRIED', 'WHITE', None, None, 'CORONARY ARTERY DISEASE\\CORONARY ARTERY BYPASS GRAFT/SDA', 0, 1)
(8, 29, 30, 104557, '2172-10-14 14:17:00', '2172-10-19 14:37:00', None, 'URGENT', 'TRANSFER FROM HOSP/EXTRAM', 'HOME HEALTH CARE', 'Medicare', None, 'CATHOLIC', 'MARRIED', 'UNKNOWN/NOT SPECIFIED', None, None, 'UNSTABLE ANGINA\\CATH', 0, 1)
(9, 30, 31, 128652, '2108-08-22 23:27:00', '2108-08-30 15:00:00', '2108-08-30 15:00:00', 'EMERGENCY', 'TRANSFER FROM HOSP/EXTRAM', 'DEAD/EXPIRED', 'Medicare', None, 'CATHOLIC', 'MARRIED', 'WHITE', None, None, 'STATUS EPILEPTICUS', 1, 1)

In [10]:
#Query 0

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query0.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

('EMERGENCY', 42071)
('ELECTIVE', 7706)
('NEWBORN', 7863)
('URGENT', 1336)

In [23]:
#Query 1

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query1.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

('4019', 'Hypertension NOS', 20703)

In [47]:
#Query 2

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query2.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

('EMERGENCY', Decimal('0.7134'))
('ELECTIVE', Decimal('0.1307'))
('NEWBORN', Decimal('0.1333'))
('URGENT', Decimal('0.0227'))

In [48]:
#Query 3

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query3.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

('EMERGENCY', Decimal('0.8272'))
('ELECTIVE', Decimal('0.1515'))
('URGENT', Decimal('0.0209'))
('NEWBORN', Decimal('0.0004'))

In [58]:
#Query 4

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query4.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

('ASIAN', 436, Decimal('0.0118'), 'Hypertension')
('ASIAN', 1509, Decimal('0.0256'), 'Overall')
('BLACK/AFRICAN AMERICAN', 5069, Decimal('0.1373'), 'Hypertension')
('BLACK/AFRICAN AMERICAN', 5440, Decimal('0.0922'), 'Overall')
('HISPANIC OR LATINO', 816, Decimal('0.0221'), 'Hypertension')
('HISPANIC OR LATINO', 1696, Decimal('0.0288'), 'Overall')
('HISPANIC/LATINO - PUERTO RICAN', 383, Decimal('0.0104'), 'Hypertension')
('OTHER', 803, Decimal('0.0217'), 'Hypertension')
('OTHER', 1512, Decimal('0.0256'), 'Overall')
('PATIENT DECLINED TO ANSWER', 239, Decimal('0.0065'), 'Hypertension')
('PATIENT DECLINED TO ANSWER', 559, Decimal('0.0095'), 'Overall')
('UNABLE TO OBTAIN', 403, Decimal('0.0109'), 'Hypertension')
('UNABLE TO OBTAIN', 814, Decimal('0.0138'), 'Overall')
('UNKNOWN/NOT SPECIFIED', 2045, Decimal('0.0554'), 'Hypertension')
('UNKNOWN/NOT SPECIFIED', 4523, Decimal('0.0767'), 'Overall')
('WHITE', 25762, Decimal('0.6977'), 'Hypertension')
('WHITE', 40996, Decimal('0.6951'), 'Overall')

In [ ]:
#Query 5

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query5.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

In [ ]:
#Query 6

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query6.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

In [ ]:
#Query 7

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query7.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

In [ ]:
#Query 8

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query8.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()

In [ ]:
#Query 9

# Create a connection to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

with open('query9.sql', 'r') as file:
    sql_query = file.read()

# Example SQL query: SELECT all records from the 'admissions' table
with engine.connect() as connection:
    result = connection.execute(text(sql_query))
    for row in result:
        print(row)  # Print each row returned by the query

# Close the connection
engine.dispose()